body {
  font-family: "Merienda One", cursive;
}
.container {
  padding-top: 25px;
}
.currentWeather-wrapper {
  border-style: groove;
  padding: 20px;
  border-radius: 6px;
}
.condition-list {
  list-style: none;
  margin-top: 15px;
  font-size: 15px;
}
.currentWeatherCondition {
  margin: 35px auto;
}
h1 {
  font-size: 30px;
}
#temperature {
  font-size: 60px;
  margin-left: 20px;
}
.tempFeelsLike {
  display: block;
  font-size: 13px;
  margin-left: 100px;
}
#description {
  text-transform: capitalize;
}
#icon {
  height: 70px;
  width: 70px;
}
.forecastIcon {
  height: 30px;
  width: 30px;
}
.listImages {
  height: 15px;
  width: 15px;
}
#search-input {
  max-width: 500px;
}
.button-icon {
  height: 25px;
  width: 25px;
}
.unitConversion .active {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: default;
}
