body {
  font-family: "Merienda One", cursive;
}
.currentWeather-wrapper {
  border-style: groove;
  padding: 20px;
  border-radius: 6px;
}
.condition-list {
  list-style: none;
  padding-left: 60px;
  margin-top: 15px;
}
.currentWeatherCondition {
  margin: 35px auto;
}
h1 {
  font-size: 30px;
}
#temperature {
  font-size: 60px;
  margin-left: 20px;
}
.tempFeelsLike {
  display: block;
  font-size: 13px;
  margin-left: 100px;
}
#description {
  text-transform: capitalize;
}
#icon {
  height: 70px;
  width: 70px;
}
